/* .App {
  text-align: center;
}

img {
  width: 100px;
}

h1 {
  color: aliceblue;
}

p {
  color: aliceblue;
  text-align: center;

}

header {
  text-align: center;
}

h2 {
  color: aliceblue;
  text-align: center;
}

.divPlanets {
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
  width: 100%;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itemMission {
  border: white solid 2px;
  margin: 1%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 8%;
}

.missionName {
  font-size: x-large;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
